{% extends "layout.html" %}

{% block js_image_content %}

<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>

<script type="text/javascript">

 var firebaseConfig = {
    apiKey: "AIzaSyDvwREGGwg3c8fOnWpiq7HICc7sHqP8HRM",
    authDomain: "proj-6d034.firebaseapp.com",
    databaseURL: "https://proj-6d034.firebaseio.com",
    projectId: "proj-6d034",
    storageBucket: "proj-6d034.appspot.com",
    messagingSenderId: "156803354326",
    appId: "1:156803354326:web:dba5d4e48f3781dd"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var storage = firebase.storage();
  var storageRef = storage.ref();


  var filename = "{{firebase_filename|safe}}" + ".txt";
  filename = filename.replace(/\s/g, ''); /*remove possíveis espaços em branco*/
  var data = '{{firebase|safe}}'
  // confirm(filename);
  
  if (filename != '.txt'){

    var str = "void";
    storageRef.child(filename).getDownloadURL().then(function(url) {

      var xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);
   
      xhr.onload = function(event) {
        var blob = xhr.responseText;        
        var new_str = blob + data;

        storageRef.child(filename).putString(new_str).then(
        
            function(snapshot){
                
                console.log('uploaded to firebase')
           }
         ), function (error){
                console.log(error);
            }
      };

    xhr.send(null);
      
    }).catch(function(error) {
      console.log(error)
      confirm("Erro")
    });

  }else{
    console.log(filename + " ---  Primeira iteração. Não há dados para serem enviados ainda");
  }  

 </script>

{% endblock js_image_content %}

{% block content %}

<div id="content-wrapper">

    <section id="finalizar" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center fade-down section-heading">
                        <h2 class="main-title mt-0" style="color: gray;"> Obrigado pela Participação !!!   </h2>
                    </div>   
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="center fade-down section-heading">
                        <div class="gap"></div>
                        <h4 class="main-title mt-0" style="color: gray;">Alguma sugestão ou crítica ?</h4>             
                        <h5 class="main-title mt-0" style="color: gray;"><!-- Deixe seu comentário --></h5>             
                    </div>   
                </div>
            </div>

            <div class="row">
                <div class="center-block text-center">
                    <br>
                    <div class="col-md-1" ></div>
                    <div class="col-md-10" >

                        <form action="{{url_for('validar')}}"  name="comment_form" method="POST">
                            <textarea name="comments" id="comment_form" type="text" placeholder="Comentários"></textarea>
                            
                            <div class="gap"></div>
                            
                            <button type="submit" class="btn btn-lg btn-outlined btn-primary animation bounce-in" style="font-size: 2em;text-indent:0em" name="comment_button" value="comment_button">Finalizar</button>
                        </form>
                    </div>
                    <div class="col-md-1" ></div>
                </div>
            </div>
            <div class="row"></div>> 
        </div>      
    </section>
</div>

{% endblock content  %}
